body{
	margin: 0;
	font-family: sans-serif;
	background-image: url("o.jpg");

}
*{
	margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
	
	background-size: cover;
	background-position: center;
	height: 100vh;

}
.logo{
	height:0px;
	width: 90px;
	float: left;
	margin-top:40px;
}

.main {
	display: grid;
	grid-template-rows: .4fr 1fr;
	height:100vh;
}

.form-container {
	display: grid;
	grid-template-rows: .4fr auto;
}

h1 {
	margin-bottom: 50px;
	text-align: center;
	margin: 50px;
}
select{
	border-radius: 150px;
	size: 50px;
	height: 30px;
    width: 250px;

}
label {
	font-size: 25px;
}

.form {
	display:flex;
	flex-direction: column;
	align-items: center;

}

.form input {
	margin-bottom: 20px;
	padding: 10px;
    background-color: #c03f652b;
    border: none;
    border-radius: 150px;
}
.submit {
    background-color: #3f79c0; 
    padding: 10px 40px;
    border-radius: 150px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.submit:hover {
	background-color: #c03f65;
}
#zodiac-description {
	padding: 50px 100px	;
	text-align: center;
}





